In [ ]:
Introductioin to list datatypes

In [ ]:
-->List is a collection of items in particular orders
-->List is defined by []
-->list is classified as Muttable datatypes

In [2]:
students=['prateek','siddu','priyanka','Pavi','madhuri','chandini','arpana']
print(students)

['prateek', 'siddu', 'priyanka', 'Pavi', 'madhuri', 'chandini', 'arpana']

In [4]:
type(students)

list

In [ ]:
#Introduction to indexing: Indexing wil be starting from 0,1,2,3,....

In [ ]:
#Reqt: Access priyanka on output from the list above

In [3]:
print(students[2])

priyanka

In [ ]:
#Reqt: Reassign the elements from a list:

In [4]:
students[0]='kaveri'
print(students)

['kaveri', 'siddu', 'priyanka', 'Pavi', 'madhuri', 'chandini', 'arpana']

In [5]:
students.append('anusha')
print(students)   #Reqt:Add a new element to the list

['kaveri', 'siddu', 'priyanka', 'Pavi', 'madhuri', 'chandini', 'arpana', 'anusha']

In [22]:
#Reqt:Add sudha at 2nd place

In [6]:
students.insert(2,'sudha')
print(students)

['kaveri', 'siddu', 'sudha', 'priyanka', 'Pavi', 'madhuri', 'chandini', 'arpana', 'anusha']

In [24]:
#Reqt : Delete element from the list

In [7]:
del students[0]
print(students)

['siddu', 'sudha', 'priyanka', 'Pavi', 'madhuri', 'chandini', 'arpana', 'anusha']

In [26]:
#Reqt : Delete the elements from list by using pop function

In [8]:
students.pop()
print(students)

['siddu', 'sudha', 'priyanka', 'Pavi', 'madhuri', 'chandini', 'arpana']

In [ ]:
#Reqt:Delete chandini from list using pop

In [9]:
students.pop(5)
print(students)

['siddu', 'sudha', 'priyanka', 'Pavi', 'madhuri', 'arpana']

In [11]:
print(f"keep up the good work,{students[2].title()}")

keep up the good work,Priyanka