In [ ]:
#Introduction to the looping statements:Understanding loops

In [4]:
students=['prateek','siddu','priyanka','Pavi','madhuri','chandini','arpana']
print(students)

['prateek', 'siddu', 'priyanka', 'Pavi', 'madhuri', 'chandini', 'arpana']

In [ ]:
#Reqt: Split out the students individually from a list

In [5]:
for x in students:
    print(x)

prateek
siddu
priyanka
Pavi
madhuri
chandini
arpana

In [ ]:
#Reqt : Sending appreciation statement to the students

In [7]:
for x in students:
    print(f"Apreciate your work, keep up the same {x.title()}")

Apreciate your work, keep up the same Prateek
Apreciate your work, keep up the same Siddu
Apreciate your work, keep up the same Priyanka
Apreciate your work, keep up the same Pavi
Apreciate your work, keep up the same Madhuri
Apreciate your work, keep up the same Chandini
Apreciate your work, keep up the same Arpana

In [ ]:
#Reqt: Making a numerical list with for loop from 1-30

In [8]:
for x in range(1,30):
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [9]:
for x in range(1,31):
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [ ]:
#Reqt Create a list of numbers from 1 - 10

In [12]:
numbers=list(range(1,11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#Reqt :print only even numbers from 1 - 30

In [14]:
even_num=list(range(2,30,2))
print(even_num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [ ]:
#Introduction to 'If' condition

In [15]:
cars=['bmw','audi','benz','tata motors']
print(cars)

['bmw', 'audi', 'benz', 'tata motors']

In [ ]:
#Reqt : Print bmw in upper case and all other in title case

In [17]:
for x in cars:
    if x=='bmw':
        print(x.upper())
    else:
        print(x.title())

BMW
Audi
Benz
Tata Motors

In [ ]:
#Reqt : user accepted inputs, username:, pwd:, first_name, last_name, DOB:

In [19]:
Message=input("Tell me something and i will repeat it for you:")
print(Message)

Tell me something and i will repeat it for you:Hi, how are you
Hi, how are you

In [21]:
Name=input('Please enter your name:')
print(Name)

Please enter your name:Priyanka
Priyanka

In [23]:
print(f"Good to see you all in the session {Name}")

Good to see you all in the session Priyanka

In [ ]:
#Accepting integer as input:

In [24]:
height=input('please Enter your height')
print(height)

please Enter your height5
5

In [25]:
height>=5
print(height)

TypeError: '>=' not supported between instances of 'str' and 'int'

In [ ]:
#Typecasting of Datatypes

In [26]:
height=int(height)
height>=5
print(height)

5

In [ ]:
#Building a simple voting applications criteria : person need to have 18 or more than that years of age

In [29]:
age=input("Please Enter your age")
age=int(age)
if age<18:
    print("Try next time")
else:
    print("You are elizible of voting")

Please Enter your age17
Try next time